.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.App .table {
  margin: 2rem 5rem;
  display: flex;
  flex-direction: column;
}
.App .tableSub{
  width: 800px;
  height: 600px;
  background-color: black;
}
.table .header_table {

  width: 800px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  border-radius: 14px;
}

h5 {
  color: white;
}
.table .Item_table_list {
  margin: 1rem 0;
  width: 800px;
  height: 80px;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  display: flex;
  flex-direction: row;
  border-radius: 14px;
}
.btn{
  text-align: center;
  width: 70px;
  height: 40px;
}

.form-group{
  margin-left: 35%;
  margin-bottom: 1rem;
  width: 600px;
}
.Container .form-group.x{
  margin: 0 auto;
}